<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Detalles de la Feria</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="feria-container">
    <!-- Información de la feria -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información General</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label><strong>Feria:</strong> {{ feria.nombre }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label><strong>Hora inicio:</strong> {{ feria.hora_inicio }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label><strong>Hora término:</strong> {{ feria.hora_termino }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label><strong>Día(s):</strong> {{ feria.dia }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Acordeón de puestos -->
    <ion-card *ngIf="puestos.length > 0 || isAccordionOpen">
      <ion-item class="accordion-toggle" button (click)="toggleAccordion()">
        <ion-label><strong>Puestos</strong></ion-label>
        <ion-icon slot="end" [name]="isAccordionOpen ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item>

      <ion-list *ngIf="isAccordionOpen">
        <ion-item *ngFor="let puesto of puestos" button (click)="abrirModalDetallePuesto(puesto.id)">
          <ion-label>
            <h3>{{ puesto.nombre }}</h3>
            <p *ngIf="puesto.descripcion">{{ puesto.descripcion }}</p>
            <p *ngIf="puesto.ubicacion">Ubicación: {{ puesto.ubicacion }}</p>
          </ion-label>
          <ion-icon slot="end" name="eye-outline"></ion-icon>
        </ion-item>

      </ion-list>
    </ion-card>

    <!-- Mensaje si no hay puestos -->
    <ion-card *ngIf="puestos.length === 0 && !isAccordionOpen">