/* filepath: d:\proyectoCasero\src\app\components\feria-modal\feria-modal.component.scss */
.feria-details {
    border: 2px solid #28a745;
    border-radius: 8px;
    padding: 16px;
    background-color: #d4edda;
    text-align: center;
  }
  
  h2 {
    color: #155724;
    margin-bottom: 8px;
  }
  
  h3 {
    color: #155724;
  }