<ion-header>
  <!-- Botón de volver atrás -->
  <div class="back-button-container">
    <ion-buttons>
      <ion-back-button defaultHref="/account" (click)="cerrarModal()"></ion-back-button>
    </ion-buttons>
  </div>
  <!-- Encabezado -->
  <div class="header-text">
    <h2>Solicitar ser Casero</h2>
  </div>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="feria-container">
    <ion-card>
      <form class="admin-form">

          <div class="phone-group">
            <span class="phone-prefix">+56</span>
            <ion-input type="tel" label="Teléfono" label-placement="floating" fill="outline" [(ngModel)]="telefonoSinPrefijo" name="telefonoSinPrefijo" maxlength="9" pattern="[0-9]*" inputmode="numeric"></ion-input>
          </div>
          <div class="error-message" *ngIf="telefonoSinPrefijo && telefonoSinPrefijo.length > 0 && telefonoSinPrefijo.length !== 9">
            El teléfono debe tener exactamente 9 dígitos numéricos.
          </div>

          <ion-input type="email" label="Correo electrónico" label-placement="floating" fill="outline" [(ngModel)]="email"
            name="email"></ion-input>
          <div class="error-message" *ngIf="isEmailInvalido">
            Ingresa un correo electrónico válido.
          </div>

          <ion-textarea label="Comentario" label-placement="floating" fill="outline" [(ngModel)]="comentario"
            name="comentario" rows="4"></ion-textarea>
          <div class="error-message" *ngIf="isComentarioInvalido">
            El comentario no puede contener los símbolos &lt; &gt; {{ '{' }} {{ '}' }} [ ] " ' / \ y debe tener máximo 500 caracteres.
          </div>

          <!-- Label + ícono -->
          <div class="document-upload-container">
            <div class="label-with-info">
              <ion-label class="upload-label">Subir documento</ion-label>
              <ion-button fill="clear" size="small" (click)="mostrarInfoDocumento()" class="info-button" aria-label="Información del documento">
                <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
              </ion-button>
            </div>
            
            <label class="file-input-wrapper">
              <input type="file" (change)="onFileSelected($event)" accept="image/*,application/pdf" class="file-input" />
              <div class="upload-area">
                <ion-icon name="cloud-upload-outline" class="upload-icon"></ion-icon>
                <span class="upload-text">Arrastra tu archivo aquí o haz clic para seleccionar</span>
                <span class="file-types">(JPEG, PNG o PDF)</span>
              </div>
            </label>
          </div>

          <ion-button shape="round" expand="full" fill="solid" class="save-button" (click)="enviarSolicitud()">
            Enviar Solicitud
          </ion-button>
        </form>
      </ion-card>
  </div>
</ion-content>