<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Solicitar ser Casero</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form class="admin-form">

    <ion-input type="text" label="Teléfono" label-placement="floating" fill="outline" [(ngModel)]="telefono"
      name="telefono">
    </ion-input>

    <ion-input type="email" label="Correo electrónico" label-placement="floating" fill="outline" [(ngModel)]="email"
      name="email">
    </ion-input>

    <ion-textarea label="Comentario" label-placement="floating" fill="outline" [(ngModel)]="comentario"
      name="comentario" rows="4">
    </ion-textarea>

    <ion-label>Documento (imagen o PDF)</ion-label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*,application/pdf" />

    <ion-button shape="round" expand="full" fill="solid" class="save-button" (click)="enviarSolicitud()">
      Enviar Solicitud
    </ion-button>
  </form>
</ion-content>