@use 'src/theme/variables' as *;

:host {
  font-family: 'Roboto', sans-serif;
}

.admin-form {
  padding: 20px clamp(16px, 5vw, 32px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  ion-input,
  ion-textarea,
  ion-select {
    --highlight-color: #{$primary-text-color};
    font-size: 16px;
    transition: all 0.3s ease;
  }

  ion-label {
    font-size: 14px;
  }
}

.save-button {
  --background: #{$dark-primary-color};
  --color: #{$inverse-text-color};
  border-radius: 9999px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

ion-button {
  --background: #{$dark-primary-color};
  --color: #{$inverse-text-color};
  --border-radius: 12px;
  --box-shadow: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.info-button {
  --background: transparent !important;
  --color: black !important;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 50%;
  min-width: 27px;
  min-height: 27px;
  margin-top: -3px; // súbelo unos pixeles

  ion-icon {
    font-size: 25px;
  }
}

.phone-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.phone-prefix {
  background: #{$inverse-text-color};
  border: 1px solid #{$divider-color};
  border-radius: 8px;
  padding: 0 12px;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #{$secondary-text-color};
}


// Header
.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  ion-back-button {
    --color: #{$inverse-text-color};
    --background: transparent;
    --box-shadow: none;
    --padding-start: 0;
  }
}

.header-text {
  text-align: center;
  padding: 60px 20px 20px 20px;
  background: linear-gradient(135deg, $dark-primary-color, $primary-color);
  color: $inverse-text-color;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

.modal-trigger-container {
  padding: 16px 20px;
}

.error-message {
  color: #{$danger-red};
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 8px;
  padding-left: 4px;
}