<ion-content>
  <!-- Botón volver atrás -->
  <div class="back-button-container">
    <ion-buttons>
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
  </div>

  <!-- Encabezado -->
  <div class="header-background">
    <div class="profile-image-container" (click)="goToAvatar()">
      <img [src]="profile.avatar_url" alt="Foto de perfil" class="profile-image" />
      <p class="change-picture-text">Cambiar foto</p>
    </div>
  </div>

  <!-- Formulario -->
  <form class="profile-form">
    <ion-input type="email" label="E-mail" label-placement="floating" fill="outline" [(ngModel)]="email" name="email"
      readonly></ion-input>

    <ion-input type="text" label="Nombre de Usuario" label-placement="floating" fill="outline"
      [(ngModel)]="profile.username" name="username"></ion-input>

    <ion-input type="text" label="Nombre Completo" label-placement="floating" fill="outline"
      [(ngModel)]="profile.full_name" name="full_name"></ion-input>

    <ion-input type="text" label="Teléfono" label-placement="floating" fill="outline" [(ngModel)]="profile.phone"
      name="phone"></ion-input>

    <ion-button shape="round" class="update-button" (click)="updateProfile()">
      Actualizar
    </ion-button>

    <ion-button fill="clear" color="medium" (click)="signOut()">
      Cerrar sesión
    </ion-button>

  </form>
</ion-content>
