<ion-content>
  <div class="ion-padding">
    <h1>Mi Perfil</h1>
  </div>
  <ion-list inset="true">
    <form>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre de Usuario</ion-label>
        <ion-input type="text" name="username" [(ngModel)]="profile.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input type="text" name="full_name" [(ngModel)]="profile.full_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="url" name="phone" [(ngModel)]="profile.phone"></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <ion-button fill="clear" (click)="updateProfile()">Actualizar perfil</ion-button>
      </div>
    </form>

    <div class="ion-text-center">
      <ion-button fill="clear" (click)="signOut()">Cerrar sesión</ion-button>
    </div>
  </ion-list>
</ion-content>