
<ion-content>

  <section class="contenedor">

    <div class="logo">
      <h1> CASER </h1> <img src="../../../assets/tomate.png">
    </div>  

    <div style="display: flex; flex-direction: column;">
      <label > Email de verificacion </label>
      <input type="email" [(ngModel)]="email" class="input">
    </div>

    <button expand="full" class="button" (click)="correo()" >  Enviar correo  </button>
    <ion-toast 
      [isOpen]="showToast" 
      [message]="toastMessage" 
      [duration]="2000">
    </ion-toast>

    <h6 (click)="login()"> Volver al Login <= </h6>

  </section>

</ion-content>
