<ion-content [fullscreen]="true">

  <!-- Botón de volver atrás -->
  <div class="back-button-container">
    <ion-buttons>
      <ion-back-button defaultHref="/mapa"></ion-back-button>
    </ion-buttons>
  </div>

  <!-- Encabezado -->
  <div class="admin-header">
    <h2>Administrar Puestos</h2>
  </div>

  <!-- Selector de feria -->
  <ion-item>
    <ion-label>Filtrar por feria</ion-label>
    <ion-select [(ngModel)]="feria_id" (ionChange)="onFeriaSeleccionada()" interface="popover" placeholder="Todas">
      <ion-select-option [value]="null">Todas las ferias</ion-select-option>
      <ion-select-option *ngFor="let feria of ferias" [value]="feria.id">
        {{ feria.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de cards personalizada -->
  <ion-list>
    <ion-card *ngFor="let puesto of puestos" class="custom-card">
      <ion-card-header>
        <ion-card-title>{{ puesto.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-row" *ngIf="puesto.descripcion">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ puesto.descripcion }}</span>
        </div>

        <div class="info-row" *ngIf="puesto.ubicacion">
          <ion-icon name="pin-outline"></ion-icon>
          <span>Ubicación: {{ puesto.ubicacion }}</span>
        </div>

        <div class="info-row" *ngIf="puesto.feria_id">
          <ion-icon name="storefront-outline"></ion-icon>
          <span>ID Feria: {{ puesto.feria_id }}</span>
        </div>

        <div class="info-row" *ngIf="puesto.casero_id">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span>ID Casero: {{ puesto.casero_id }}</span>
        </div>

        <!-- Botones -->
        <div class="edit-button-container">
          <ion-button fill="clear" (click)="abrirModalEditarPuesto(puesto)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>

          <ion-button fill="clear" color="danger" (click)="eliminarPuesto(puesto.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- FAB botón flotante para agregar puesto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-custom-color" (click)="openAgregarPuestoModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
