<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Detalle del Puesto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ng-container *ngIf="puesto">

    <!-- card de feria -->
    <div class="feria-container">
    <ion-card>
      <ion-card-header class="feria-card-header">
        <ion-item lines="none" class="feria-header-item">
          <ion-label>
            <ion-card-title>{{puesto.nombre}}</ion-card-title>
            <!-- Nombre comuna -->
           <div *ngIf="nombreFeria && puesto.ubicacion" class="comuna-feria">
            <ion-icon name="location-outline"></ion-icon>
            {{ nombreFeria || 'No especificada' }}, {{ puesto.ubicacion || 'No especificada' }}</div>

          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <!-- Mapa de ubicación -->
        <div class="puesto-image-container" *ngIf="puesto.img_url">
          <img [src]="puesto.img_url" alt="Imagen del Puesto" class="puesto-image" />
        </div>
        <!--<div id="feriaMap" style="width: 100%; height: 200px; margin: 16px 0 16px 0; border-radius: 8px;"></div>-->
        <div *ngIf ="puesto.descripcion" class="comuna-feria descripcion-linea">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>{{puesto.descripcion}}</ion-label>
        </div>

        <ion-card *ngIf="tipoBadges.length > 0">
          <ion-card-content class="badges-container">
          <div class="badge" *ngFor="let tipo of tipoBadges">
            <img [src]="tipo.imagen" [alt]="tipo.nombre" />
          </div>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
    </div>
    <!-- card de feria -->

    <!-- Reviews -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calificaciones</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="reviews.length; else sinComentarios">
        <ion-card *ngFor="let review of reviews" class="comment-card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="review.avatar_url || 'assets/icon/user-location.svg'" alt="avatar" />
            </ion-avatar>

            <ion-label>
              <h3>{{ review.username || 'Anónimo' }}</h3>
              <p><i>"{{ review.comentario }}"</i></p>

              <div class="rating-icons">
                <ng-container *ngFor="let i of [1,2,3,4,5]">
                  <img [src]="i <= review.calificacion ? 'assets/icon/rank-mark.png' : 'assets/icon/rank-unmark.png'"
                    alt="rating star" class="rating-icon" />
                </ng-container>
              </div>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-card-content>

      <ng-template #sinComentarios>
        <ion-card-content class="sin-comentarios">
          <p>Aún no hay calificaciones.</p>
          <p>¡Sé el primero en calificar!</p>
        </ion-card-content>
      </ng-template>

      <ion-button shape="round" class="comentar-button" expand="full" *ngIf = "!isInvitado" (click)="abrirModalComentario()">
        Calificar Puesto
      </ion-button>
    </ion-card>

  </ng-container>
</ion-content>