<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Detalle del Puesto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ng-container *ngIf="puesto">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ puesto.nombre }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div class="puesto-image-container" *ngIf="puesto.img_url">
      <img [src]="puesto.img_url" alt="Imagen del Puesto" class="puesto-image" />
    </div>

    <ion-card *ngIf="puesto.descripcion">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>{{ puesto.descripcion }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="puesto.ubicacion">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="pin-outline" slot="start"></ion-icon>
          <ion-label>Ubicación: {{ puesto.ubicacion }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="nombreFeria">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>{{ nombreFeria }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Reviews -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calificaciones</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="reviews.length; else sinComentarios">
        <ion-card *ngFor="let review of reviews" class="comment-card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="review.avatar_url || 'assets/icon/user-location.svg'" alt="avatar" />
            </ion-avatar>

            <ion-label>
              <h3>{{ review.username || 'Anónimo' }}</h3>
              <p><i>"{{ review.comentario }}"</i></p>

              <div class="rating-icons">
                <ng-container *ngFor="let i of [1,2,3,4,5]">
                  <img 
                    [src]="i <= review.calificacion ? 'assets/icon/rank-mark.png' : 'assets/icon/rank-unmark.png'" 
                    alt="rating star" 
                    class="rating-icon"
                  />
                </ng-container>
              </div>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-card-content>

      <ng-template #sinComentarios>
        <ion-card-content class="sin-comentarios">
          <p>Aún no hay calificaciones.</p>
          <p>¡Sé el primero en calificar!</p>
        </ion-card-content>
      </ng-template>

      <ion-button shape = "round" class="comentar-button" expand="full" (click)="abrirModalComentario()">
        Calificar Puesto
      </ion-button>
    </ion-card>

  </ng-container>

</ion-content>
