@use 'src/theme/variables' as *;

.badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  /* Menor separación */
  padding-top: 8px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
}

.badge img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 4px;
}

.badge span {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.rating-icons {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.rating-icon {
  width: 27px;
  height: 27px;
}

.comentar-button {
  --background: #{$dark-primary-color};
  --color: #{$inverse-text-color};
  border-radius: 9999px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

ion-content {
  --background: #f5f5f5;

  .puesto-image-container {
    width: 100%;
    max-height: 220px;
    overflow: hidden;
    border: solid 2px rgb(190, 190, 190);
    border-radius: 12px;
    margin: 16px 0;

    .puesto-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  ion-card {
    border-radius: 12px;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
    margin-bottom: 16px;

    ion-card-header {
      background: $light-primary-color;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      ion-card-title {
        color: $primary-text-color;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }

      ion-card-subtitle {
        color: $primary-text-color;
        font-size: 16px;
        text-align: center;
      }
    }

    ion-item {
      --background: transparent;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
      font-size: 16px;

      ion-icon {
        color: $primary-color;
        margin-right: 8px;
      }

      ion-label {
        color: $primary-text-color;
      }
    }
  }
}

/* Header */
::ng-deep .header-toolbar {
  text-align: center;
  background: url('/assets/img/fondo.png') center center/cover no-repeat !important;
  --background: transparent !important;
  color: $inverse-text-color;
  padding: 30px 20px 20px 20px;
  min-height: 25px;
  position: relative;
 
  .header-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    position: relative;
    z-index: 2;
    top: 17px;
  }
 
  ion-buttons[slot="start"] {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    
    .close-button {
      --color: #{$inverse-text-color};
      --background: transparent;
      --box-shadow: none;
     
      ion-icon {
        font-size: 24px;
      }
    }
  }
}

.sin-comentarios {
  text-align: center;
  margin-top: 20px;
}

.feria-container {
  margin-top: 12px;

  // 3.1. Card de información de la feria
  ion-card {
    border-radius: 12px;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;

    ion-card-header {
      background: $light-primary-color;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      ion-card-title {
        color: $primary-text-color;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
      }
    }
  }

  // 3.2. Item de header de la feria (favorito)
  .feria-header-item {
    --background: transparent !important;
    --ion-item-background: transparent !important;
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --min-height: 0;
    --border-width: 0;
    box-shadow: none !important;
  }

  // 3.3. Items de información de la feria
  ion-card ion-card-content ion-item {
    --background: transparent;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    font-size: 16px;

    ion-label {
      color: $primary-text-color;
    }

    ion-icon {
      color: $primary-color; // Color de íconos dentro del contenido
    }
  }
}

.comuna-feria {
  font-size: 0.8rem;
  color: $secondary-text-color;
  margin-top: 4px;
}

.descripcion-linea ion-icon {
  margin-right: 12px; // Ajusta solo la descripción
}

:host,
:host * {
  font-family: 'Inter', sans-serif !important;
}
