<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Detalle del Puesto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Contenido solo si puesto está definido -->
  <ng-container *ngIf="puesto">

    <!-- Card principal con información -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ puesto.nombre }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Imagen del puesto -->
    <div class="puesto-image-container" *ngIf="puesto.img_url">
      <img [src]="puesto.img_url" alt="Imagen del Puesto" class="puesto-image" />
    </div>

    <!-- Card con descripción -->
    <ion-card *ngIf="puesto.descripcion">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>{{ puesto.descripcion }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Card con ubicación -->
    <ion-card *ngIf="puesto.ubicacion">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="pin-outline" slot="start"></ion-icon>
          <ion-label>Ubicación: {{ puesto.ubicacion }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Card con nombre de feria en lugar de ID -->
    <ion-card *ngIf="nombreFeria">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>{{ nombreFeria }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


  </ng-container>

</ion-content>