<ion-menu contentId="main-content" side="start" menuId="main-menu">
  <ion-content class="custom-menu">
    <div class="profile-container">
      <img [src]="profileImgUrl" alt="Foto de perfil" class="profile-img" />
      <div class="profile-info" *ngIf="!loading">
        <div class="profile-greeting">¡Hola, {{ userName || 'Usuario' }}!</div>
        <div class="profile-message">Bienvenido a Casero</div>
      </div>
    </div>

    <ion-list class="menu-options">
      <!-- Botones Publicos -->
      <ion-item class="menu-item" routerLink="/account">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/ferias-fav">
        <ion-icon name="bookmark" slot="start"></ion-icon>
        <ion-label>Ferias Favoritas</ion-label>
      </ion-item>
      <!-- Botones Administrador -->
      <ion-item class="menu-item" *ngIf="isAdmin" routerLink="/administrar">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Administrar Ferias</ion-label>
      </ion-item>
      <ion-item class="menu-item" *ngIf="isAdmin" routerLink="/administrar-puestos">
        <ion-icon name="storefront" slot="start"></ion-icon>
        <ion-label>Administrar Puestos</ion-label>
      </ion-item>
      <ion-item class="menu-item" *ngIf="isAdmin" routerLink="/administrar-usuarios">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label>Administrar Usuarios</ion-label>
      </ion-item>
      <!-- Botones Casero -->
      <ion-item class="menu-item" *ngIf="isCasero" routerLink="/panel-casero">
        <ion-icon name="cog" slot="start"></ion-icon>
        <ion-label>Panel Casero</ion-label>
      </ion-item>
      <!-- Boton Cerrar Sesion -->
      <ion-item class="menu-item" (click)="signOut()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <div class="buscador">
    <div class="custom-searchbar">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Buscar feria"
        class="search-input"
        autocomplete="off"
      />
      <img [src]="profileImgUrl" alt="Foto de perfil" class="casero-logo" (click)="onProfileClick()" />
    </div>

    <!-- Lista de sugerencias -->
    <ion-list *ngIf="suggestedFerias.length > 0" class="autocomplete-list">
      <ion-item *ngFor="let feria of suggestedFerias" (click)="selectFeria(feria)">
        {{ feria.nombre }}
      </ion-item>
    </ion-list>
  </div>

  <div class="botones-badges">
    <ion-button fill="outline" class="custom-button" (click)="openDaySelector()">Día</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="filterByHorario()">Horario</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="filtrarPorCalificacion()">Ranking</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="filtrarPorComuna()">Comuna</ion-button>
  </div>

  <div id="map"></div>

  <!-- FAB para cambiar el estilo del mapa, ahora en bottom -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-cambiar-mapa">
    <ion-fab-button class="fab-menu-small" (click)="alternarTileLayer()">
      <ion-icon name="layers"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- FAB de ubicación -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-ubicacion">
    <ion-fab-button (click)="centrarEnUsuario()">
      <ion-icon name="locate-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>