@use 'src/theme/variables' as *;

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    /* Asegura que el mapa esté en el fondo */
}

/* Contenedor del buscador */
.buscador {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    /* Asegura que esté encima del mapa */
}

/* Contenedor de los botones */
.botones-badges {
    position: absolute;
    top: 70px;
    /* Ajusta para que esté debajo del buscador */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    /* Asegura que esté encima del mapa */
}

/* Estilo para el ion-searchbar */
ion-searchbar {
    --border-radius: 20px;
    --background: rgba(255, 255, 255);
    --box-shadow: none;
    --padding-start: 10px;
    color: white;
}

/* Estilo para los botones */
ion-button {
    --border-radius: 20px;
    --background: rgba(255, 255, 255);
    --color: rgb(0, 0, 0);
    --box-shadow: none;
    font-weight: bold;
}

/* Asegura que el contenido ocupe todo el espacio */
ion-content {
    position: relative;
}

html,
body,
ion-content {
    height: 100%;
}

/* Estilo menu */
.custom-menu {
    --background: #f8fbff;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, $dark-primary-color, $primary-color);
    padding: 20px;
    color: $inverse-text-color;
    margin-bottom: 20px;
    clip-path: path("M0,0 H100% V80 Q50% 100% 0 80 Z");
  }
  
  
  .profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid $inverse-text-color; /* Blanco para el borde */
  }
  
  .profile-info h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .profile-info p {
    font-size: 12px;
    margin: 0;
    opacity: 0.8;
  }
  
  .menu-options ion-item {
    --background: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  ion-menu::part(container) {
    border-radius: 0 30px 30px 0;
    box-shadow: 4px 0px 16px gray;
  } 
  