<ion-menu contentId="main-content" side="start" menuId="main-menu">
  <ion-content class="custom-menu">
    <div class="profile-container">
      <img src="assets/profile_pics/joy.png" alt="Foto de perfil" class="profile-img" />
      <div class="profile-info" *ngIf="!loading">
        <h2>{{ userName }}</h2>
      </div>
    </div>

    <ion-list class="menu-options">
      <ion-item routerLink="/account">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>

      <ion-item *ngIf="isAdmin" routerLink="/administrar">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Administrar Ferias</ion-label>
      </ion-item>

      <ion-item (click)="signOut()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content id="main-content" [fullscreen]="true">
  <div class="buscador">
    <ion-searchbar placeholder="Buscar feria" color="light"></ion-searchbar>
  </div>

  <div class="botones-badges">
    <ion-button (click)="openDaySelector()">Día</ion-button>
    <ion-button (click)="filterByHorario()">Horario</ion-button>
    <ion-button>Puesto</ion-button>
  </div>

  <div id="map"></div>
</ion-content>