@use 'src/theme/variables' as *;

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    /* Asegura que el mapa esté en el fondo */
}

/* Contenedor del buscador */
.buscador {
    position: absolute;
    top: 65px;
    left: 10px;
    right: 10px;
    z-index: 1100;
    /* aumenté este z-index para que esté sobre los botones */
}

/* Contenedor de la lista de sugerencias */
.autocomplete-list {
    position: absolute;
    /* para posicionar debajo del buscador */
    top: 100%;
    /* justo debajo del searchbar */
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: $inverse-text-color;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1200;
    /* aún más arriba que el buscador */

    ion-item {
        --background: $inverse-text-color;
        --color: #000; // Asegura que el texto sea visible
        color: #000;

        // Estilo para hover (si se puede con mouse o focus)
        &:hover {
            --background: darken($primary-color, 5%);
        }
    }
}

/* Contenedor de los botones */
.botones-badges {
    position: absolute;
    top: 135px;
    /* Ajusta para que esté debajo del buscador */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    /* mantiene el z-index menor que buscador para que no lo tapen */
}

/* Estilo para los botones */
ion-button {
    --border-radius: 20px;
    --background: rgba(255, 255, 255);
    --color: rgb(0, 0, 0);
    --box-shadow: none;
    font-weight: bold;
}

/* Asegura que el contenido ocupe todo el espacio */
ion-content {
    position: relative;
}

html,
body,
ion-content {
    height: 100%;
}

/* Estilo menu */
.custom-menu {
    --background: #f8fbff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, $dark-primary-color, $primary-color);
    padding: 20px;
    color: $primary-text-color;
    margin-bottom: 20px;
    clip-path: path("M0,0 H100% V80 Q50% 100% 0 80 Z");
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid $light-primary-color;
    background-color: $accent-color;
}

.profile-info h2 {
    font-size: 16px;
    margin: 0;
}

.profile-info p {
    font-size: 12px;
    margin: 0;
    opacity: 0.8;
}

.menu-options ion-item {
    --background: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

ion-menu::part(container) {
    border-radius: 0 30px 30px 0;
    box-shadow: 4px 0px 16px gray;
}

.fab-ubicacion ion-fab-button {
    --background: #{$inverse-text-color}; // fondo transparente para que se vea el mapa
    --box-shadow: none !important;
    --color: $primary-text-color !important;
    width: 50px !important; // ancho deseado
    height: 50px !important; // alto deseado
}

.fab-ubicacion ion-fab-button:hover {
    --background: rgba(189, 189, 189, 0.5) !important;
}

.fab-ubicacion {
    bottom: 25px !important;
    /* mueve todo el FAB hacia arriba */
}

.custom-button {
    --background: #{$inverse-text-color};
    --color: $primary-text-color; // Texto blanco
    --background-hover: darken(#{$dark-primary-color}, 5%);
    --background-activated: darken(#{$dark-primary-color}, 10%);
    --border-radius: 20px; // Opcional, estilo más suave
}

.logo-mapa {
    position: absolute; // Esto lo saca del flujo normal y lo posiciona encima
    top: 0;
    left: 0;
    right: 0;
    z-index: 1300; // Más alto que cualquier otro elemento

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding-top: 10px;
    background-color: transparent;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-text-color;
        background: transparent;
    }

    img {
        height: 40px;
        width: auto;
        background: transparent;
    }
}

.fab-menu-small {
    position: relative;
    top: 15px;
    left: 9px;
    width: 35px !important; // ancho deseado
    height: 35px !important; // alto deseado
    min-width: 35px !important;
    min-height: 35px !important;
    --border-radius: 10px; // opcional, para que siga con esquinas redondeadas pero menos grandes
    --background: transparent !important; // fondo transparente para que se vea el mapa
    --border-radius: 50% !important; // Para que sea redondo
    --box-shadow: none !important; // Sin sombra para que se vea el mapa

    ion-icon {
        font-size: 35px !important; // ícono proporcional al botón pequeño
        background-color: transparent;
        color: black
    }
}

.custom-searchbar {
    --background: #{$inverse-text-color};
    --color: black;
    --placeholder-color: black;
    --icon-color: black;
    --clear-button-color: black;

    --border-radius: 20px;
}