// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Paleta de Colores Material Design

/* Primary colors */
$primary-color: #4caf50;
$light-primary-color: #c8e6c9;
$dark-primary-color: #388e3c;

/* Accent color */
$accent-color: #ff9800;

/* Text colors */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$inverse-text-color: #ffffff;

/* Divider color */
$divider-color: #bdbdbd;

/* Danger */
$danger-red: #d32f2f;