<ion-content class="login-content">
  <div class="contenedor">
    <div class="logo">
      <img src="../../../assets/icon/casero_logo.png" alt="Logo" class="logo-img">
    </div>
    <h1 class="login-title">¡Bienvenido a Casero!</h1>
    <p class="login-subtitle">Acercando la feria libre a tu bolsillo</p>
    <form (submit)="handleLogin($event)" class="login-form">
      <ion-item lines="none" class="input-item">
        <ion-input
          label="Correo"
          labelPlacement="floating"
          type="email"
          fill="solid"
          [(ngModel)]="email"
          name="email"
          required
          class="input-solid"
        ></ion-input>
      </ion-item>
      <button expand="full" class="button login-btn" type="submit">ENTRAR</button>
      <button expand="full" class="button invitado-btn" type="button" (click)="entrarComoInvitado()">COMO INVITADO</button>
    </form>
    <div class="magic-link-info">
      <span>Ingresa tu correo y te enviaremos un enlace para Iniciar sesión o Crear una cuenta.</span>
    </div>
  </div>
</ion-content>