<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Tu correo electrónico"
        required
      ></ion-input>
    </ion-item>

    <div *ngIf="signInForm.controls.email.invalid && signInForm.controls.email.touched">
      <ion-text color="danger">
        <p *ngIf="signInForm.controls.email.errors?.['required']">Este campo es obligatorio.</p>
        <p *ngIf="signInForm.controls.email.errors?.['email']">Por favor ingresa un correo electrónico válido.</p>
      </ion-text>
    </div>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="loading || signInForm.invalid"
    >
      {{ loading ? 'Enviando...' : 'Enviar enlace mágico' }}
    </ion-button>
  </form>
</ion-content>
