
<ion-content>

  <div class="contenedor">

    <div class="logo">
      <h1> CASER </h1> <img src="../../../assets/tomate.png">
    </div>  

    <div style="display: flex; flex-direction: column;">
      <label > Email </label>
      <input type="email" [(ngModel)]="email" class="input">
    </div>

    <div style="display: flex; flex-direction: column;">
      <label > Contraseña </label>
      <input type="password" [(ngModel)]="password" class="input">  
    </div>

    <button expand="full" class="button" (click)="home()" >  Entrar  </button>

    <h6 (click)="registro()">  Registrate ahora aqui => </h6>

  </div>

</ion-content>
