<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Comentar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comment-container">
    <ion-textarea [(ngModel)]="comentario" placeholder="Escribe tu comentario..." autoGrow="true"
      rows="6"></ion-textarea>
  </div>
  
  <div class="error-message" *ngIf="isComentarioInvalido">
    El comentario no puede contener los símbolos &lt; &gt; {{ '{' }} {{ '}' }} [ ] " ' / \
  </div>
  <ion-button class="enviar-button" expand="block" (click)="enviarComentario()"
    [disabled]="enviando || isComentarioInvalido">
    {{ enviando ? 'Enviando...' : 'Enviar' }}
  </ion-button>
</ion-content>