<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Comentario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea
    [(ngModel)]="comentario"
    placeholder="Escribe tu comentario..."
    autoGrow="true"
    rows="6"
  ></ion-textarea>

  <ion-button expand="block" (click)="enviarComentario()" [disabled]="enviando">
    {{ enviando ? 'Enviando...' : 'Enviar' }}
  </ion-button>
</ion-content>
