<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button class="close-button" (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">Seleccionar Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="map-content" fullscreen>
  <div id="modal-map" class="map-container"></div>
</ion-content>

<ion-footer class="map-footer">
  <ion-toolbar>
    <ion-button class="confirm-button" expand="block" (click)="confirmSelection()">
      Confirmar selección
    </ion-button>
  </ion-toolbar>
</ion-footer>