<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">

    <ion-item *ngIf="session?.user">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input [value]="session?.user?.email" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sitio Web</ion-label>
      <ion-input formControlName="website" type="url"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loading">
      {{ loading ? 'Loading...' : 'Update' }}
    </ion-button>

    <ion-button expand="block" color="danger" (click)="signOut()">
      Cerrar Sesión
    </ion-button>

  </form>
</ion-content>
